* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "sans serif";
  font-size: 15px;
  line-height: 1;
  color: #fff;
  position: relative;
}
/********* MAIN********/
.main {
  height: 95vh;
  background-image: linear-gradient(#1a18188e, #1a18183a),
    url(images/desktop/image-hero.jpg);
  background-size: cover;
  background-position: top;
  padding: 4.8rem 12rem;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 3rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  text-decoration: underline;
  color: #fff;
}
.hidden {
  display: none;
  cursor: pointer;
}
.hero {
  position: absolute;
  top: 35%;
  bottom: 50%;
  transform: translate(-0%, -50%);
}
.intro {
  justify-items: center;
  align-items: center;
  padding: 3rem;
  width: 60%;
  display: block;
  border: 1px solid #fff;
  font-weight: 100;
  font-size: 8rem;
}
@media (max-width: 1024px) {
  .intro {
    justify-items: center;
    align-items: center;
    padding: 3rem;
    width: 80%;
    font-weight: 400;
    font-size: 4rem;
  }
  .main {
    height: 95vh;
    background-image: linear-gradient(#1a18188e, #1a18183a),
      url(images/desktop/image-hero.jpg);
    background-size: cover;
    background-position: top;
    padding: 4.8rem 12rem;
    position: relative;
  }
  .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
  }
}

@media (max-width: 375px) {
  .hidden {
    display: block;
  }
  .intro {
    width: 90%;
    font-weight: 400;
    font-size: 4rem;
  }
  .main {
    padding: 4.2rem 3rem;
    background-image: linear-gradient(#1a18188e, #1a18183a),
      url(images/mobile/image-hero.jpg);
  }
  .main-nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    gap: 3.2rem;
    background-color: #000;
    width: 42%;
    transform: translateX(100%);
  }
  .main-nav-list li {
    opacity: 0;
    display: none;
  }
}

/*********SECOND-PAGE********/
.page-2 {
  position: relative;
  padding: 12rem 12rem;
}
.imgbox {
  justify-items: center;
}

.page-2-text {
  position: absolute;
  left: 70%;
  top: 68%;
  padding: 8rem;
  justify-items: center;
  width: 40%;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  background-color: #fff;
}
.title {
  color: #000;
  line-height: 1.2;
  font-size: 3.5rem;
  font-weight: 500;
  margin-top: 3rem;
}
.title-text {
  color: #777;
  font-size: 15px;
  text-align: left;
  line-height: 1.6;
  margin-top: 3rem;
}
@media (max-width: 375px) {
  .page-2 {
    position: relative;
    padding: 12rem 3rem;
  }
  .imgbox img {
    height: 240px;
  }
  .page-2-text {
    position: absolute;
    left: 50%;
    top: 110%;
    padding: 2rem;
    justify-items: center;
    width: 100%;
    margin-bottom: 0;
    transform: translate(-50%, -50%);

    background-color: #fff;
  }
}

/*********THIRD-PAGE********/
.page-3 {
  position: relative;
  padding: 12rem 12rem;
}
.page-3-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.creation {
  color: #000;
  font-size: 3.5rem;
  font-weight: 500;
}
.button {
  padding: 1.2rem 4.4rem;
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
  align-items: center;
}
.see-all {
  display: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 8%;
}
.container-mobile {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 8%;
}

.container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 3%;
}
.container-2-mobile {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 3%;
}
.image-alt {
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 36rem 4rem;
  width: 10%;
}
.alt {
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 1px;
}
@media (max-width: 375px) {
  .page-3 {
    position: relative;
    padding: 22rem 3rem;
  }
  .creation {
    margin-bottom: 2rem;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
  }
  .button {
    display: none;
  }
  .see-all {
    padding: 1.2rem 1rem;
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: none;
  }

  .container-2 {
    display: none;
  }
  .container-mobile {
    display: flex;
    height: 240px;
  }
  .container-2-mobile {
    display: flex;
    height: 240px;
  }

  .image-alt {
    display: none;
  }
  .image-alt-mobile {
    position: absolute;
    color: rgb(255, 255, 255);
    padding: 36rem 4rem;
    width: 10%;
  }
}
/*********FOOTER********/
.footer {
  height: 30vh;
  background-color: #000;
  background-position: top;
  padding: 4.8rem 12rem;
  position: relative;
}
.footer-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.media-primary {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
}
.media-primary img {
  width: 2.5rem;
}
.footer-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav-list-footer {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
  padding-top: 2rem;
}
.main-nav-link-footer {
  text-decoration: none;
  color: #ffff;
  font-weight: 500;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.footer-text {
  color: #777;
  padding-top: 2rem;
  font-size: 15px;
}
@media (max-width: 375px) {
  .footer {
    position: relative;
    padding: 32rem 3rem;
  }

  .main-nav-list-footer {
    display: inline-block;
    justify-items: center;
    gap: 3rem;
  }
  .media-primary {
    display: inline;
  }
}
